.counter {
  height: 100vh;

  .btn {
    background-color: #f8f9fa;
  }

  .form-control:disabled, .form-control[readonly] {
    background-color: white;
    border-color: #6c757d;
  }

  .btn-outline-secondary:focus {
    box-shadow: none;
  }
}
